/UnityWebsocket/.vs
/UnityWebsocket/Library
/UnityWebsocket/Logs
/UnityWebsocket/obj
/UnityWebsocket/Temp
/UnityWebsocket/.vsconfig
/UnityWebsocket/UnityWebsocket.sln
/UnityWebsocket/Assembly-CSharp.csproj
